<!DOCTYPE html>
<html>
<head>
	<title>Ruff You</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
</head>
<body>
	<nav class="narbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			     </button>
				<a href="#" class="navbar-brand">Ruff You</a>
			</div>
		    <div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
					<li><a href="#">Log In <i class="fa fa-user" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="content">
					<h1>Ruff You</h1>
					<h3>The Only Human and Animal Dating App</h3>
					<hr>
					<button class="btn btn-default btn-lg"><i class="fa fa-paw" aria-hidden="true"></i> Get Started</button>
				</div>
			</div>
		</div>
		
		

	</div>
	
<script type="text/javascript"
src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"></script>
<script type= "text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>