<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>Ruff You</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body id="index">  

    <nav class="narbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			     </button>
				<a href="/" class="navbar-brand">Ruff You</a>
			</div>
		    <div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/user" id="editLink">Edit User <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
					<li><a href="/logout" id="logoutLink">Log Out <i class="fa fa-user" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
	<div class="row">
	<div class="col-lg-12">
	<div id="content">
    <div ng-controller="myController">
        <h2 id="welcomeText">
            <%= username %>
        </h2>
        <hr>
        <img src="<%= picture %>" id="picture">
        <p id="bio"><%= bio %></p>
        
    </div>
    <hr>
    <h3>Update Info</h3>

    </div>
    </div>
    </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCPD014YE0g0ixoM3Ai9-6oJiDQNgLpv4E",
    authDomain: "chat-b4015.firebaseapp.com",
    databaseURL: "https://chat-b4015.firebaseio.com",
    projectId: "chat-b4015",
    storageBucket: "chat-b4015.appspot.com",
    messagingSenderId: "1032140460623"
  };
  firebase.initializeApp(config);
</script>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>